header {
    min-height: 3rem;

    h4 {
        font-size: 1rem;
        letter-spacing: normal;
        line-height: 1.5;
    }
}

.center {
    margin-right: -10rem;
}


.right ul li {
    cursor: pointer;
}

