.container {
    perspective: 1400px;
}

.card {
    width: 80%;
    min-height: 70vh;
    padding: 2rem 3rem;
    transform-style: preserve-3d;
    transition: all 550ms ease-in;
    transform: rotateY(0);
}

.card-body {
    font-size: 3rem;
}

.card-face,
.card-back {
    backface-visibility: hidden;
}

.card-face.active {
    transform: rotateY(0deg);
}

.card-back.active {
    transform: rotateY(0deg);
}

.card-face.passive {
    transform: rotateY(180deg);
}

.card-back.passive {
    transform: rotateY(180deg);
}